:root {
    --mc: #09847f;
    --sc: #b4613d;
}


.MainVisual .main_visual_slide .itm {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.MainVisual .main_visual_slide .itm .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    height: 100vh;
}

.MainVisual .main_visual_slide .itm01 .slide_img {
    background: url(../images/img_visual01.jpg) no-repeat left center/cover;
}

.MainVisual .main_visual_slide .itm02 .slide_img {
    background: url(../images/img_visual02.jpg) no-repeat left center/cover;
}